extends base

block footer
  div(class='navbar navbar-static-top')
    div(class='container')
      div(class='navbar-header') &copy; 2015 Express Lane
      div(class='navbar-header navbar-right')
        ul(class='list-unstyled list-inline')
          li
            a(href='/about/us') About Us
          li
            span |
          li
            a(href='/about/contact') Contact Us
          li
            span |
          li
            a(href='/blog') Blog
          li
            span |
          li
            a(href='http://www.facebook.com' target='_blank') Facebook
          li
            span |
          li
            a(href='http://www.twitter.com' target='_blank') Twitter
