extends ../layouts/public

block content
  div(class='row text-center well')
    div(class='col-xs-10 col-xs-offset-1')
      h1= title
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit
  div(class='row')
    div(class='col-sm-6 col-xs-12')
      p Lorem ipsum dolor sit amet, hinc minimum per in, lorem oporteat pri id, quem latine disputando at eos. Ea nobis mnesarchum usu, augue feugait theophrastus eam in, ut nemore nonumes delectus sit. Nec ut agam percipit tacimates, in eam clita omittam. Ei stet dissentias per. Ut eam civibus noluisse. Mel ex copiosae legendos moderatius, probatus eloquentiam per eu.
    div(class='col-sm-6 hidden-xs')
      p Tollit denique quo te, mel no soleat consulatu. No laboramus efficiendi eos. Ocurreret mediocritatem vix ea, ex his alia graeco, usu ex reprimique disputationi. Ad possit elaboraret ullamcorper vix, illud mentitum nam in. Et case everti facilis usu, ei quo unum eros, erat erant timeam an mel. Simul ornatus consectetuer ei sit, cu possit option vis.
  div(class='row')
    div(class='col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1')
      p Per omnis brute id, cu patrioque rationibus mea, quo ei habemus fabellas. Everti explicari rationibus ut mei. Id per iusto semper delicatissimi, te latine vivendum sed. Mel mollis recteque ea, ut eius gubergren quo. Tota falli detraxit vel in. At suavitate periculis quaerendum pri, at nec epicuri propriae.
    div(class='col-md-4 col-sm-6')
      p Vix et errem sensibus. Summo accusamus neglegentur pri te, vix sanctus partiendo te, suas splendide gloriatur eos ei. Sea ea maluisset corrumpit definitiones. Errem soleat blandit nam ei, vel cu corpora theophrastus. Prodesset efficiantur usu ea.
    div(class='col-md-4 col-sm-6')
      p Has ut menandri adolescens. Ex cum dolore dolorum voluptaria. Est ad sumo tota nobis. Sit ad invenire consectetuer, in qui nostro commodo inimicus, mentitum reformidans id est.
